	@font-face {
	font-family:'volvo-broad';
	src:url("https://www.volvocars.com/static/shared/fonts/volvo-broad/volvo-broad.woff") format("woff");
	font-style:normal;
	font-weight:normal;
}
	
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

        body {
            font-family: 'Nanum Gothic', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
		
	.container {
           display: flex;
       }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        background-color: rgb(250, 250, 250);
    }


        .search-bar {
            height: 20px;
            padding: 5px;
            font-size: 14px;
            width: 1000px;
        }

        .search-button {
            height: 30px;
            padding: 5px 15px;
            margin-left: 10px;
            font-size: 14px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: White;
            color: #fff;
            transition: background-color 0.3s ease;
			border:1px solid rgb(42,96,157);
			color: rgb(42,96,157);

        }

        .search-button:hover {
            background-color: rgb(42,96,157);
			color: white;
        }

        .search-category {
            height: 30px;
            margin-right: 10px;
            font-size: 14px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 50%;
        }

        .logo {
            display: flex;
            align-items: center;
        }

    .logo img {
        width: 104px;
        height: 8px;
        margin-right: 10px;
    }

        .container {
            display: flex;
        }

        .sidebar {
            width: 20%;
            padding: 10px;
            border-right: 1px solid #ccc;
        }

        .content {
            width: 80%;
            padding: 10px;
        }

       .document-list {
           width: 80%;
           padding: 10px;
       }
	   
       .document-item {
           margin-bottom: 5px;
           padding: 10px;
           border: 1px solid #ccc;
           cursor: pointer;
       }
        
        .active {
            font-weight: bold;
        }

        .document-title {
            font-size: 16pt;
            font-weight: bold;
        }

        .document-content {
            font-size: 8pt;
            color: gray;
        }

       .document-date {
           font-size: 8pt;
           color: gray;
       }

        .document-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        .document-body {
            padding: 10px 0;
        }
		
		.categories {
           border-right: 1px solid #ccc;
        }

        .category-group {
            margin-bottom: 20px;
        }


        .category-group-title {
            font-weight: bold;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        
        .category-item-all {
            margin-left: 10px;
            cursor: pointer;
            margin-bottom: 10px;
            margin-top: 10px;

        }

        .category-item-all.active {
            color: rgb(42,96,157);
            border-left: 2px solid rgb(42,96,157);
            padding: 5px;
			font-weight: bold;
        }

        .category-item {
            margin-left: 10px;
            cursor: pointer;
        }

        .category-item.active {
            color: rgb(42,96,157);
            border-left: 2px solid rgb(42,96,157);
            padding: 5px;
			font-weight: bold;
        }

        #selected-category {
            font-weight: bold;
            margin-bottom: 10px;
        }
	    .modal {
           display: none;
           position: fixed;
           z-index: 1;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           overflow: auto;
           background-color: rgb(0,0,0);
           background-color: rgba(0,0,0,0.4);
       }
       .modal-content {
           position: relative;
           background-color: #fefefe;
           margin: auto;
           padding: 20px;
           border: 1px solid #888;
           width: 1017px;
           max-width: 2000px; /* Increased max width */
           max-height: 90vh; /* Increased max height */
           overflow: hidden;
            }
        .modal-content h2,
        .modal-content p,


        .modal-body {
           overflow-y: auto;
           max-height: calc(80vh - 160px); /* Adjust based on the fixed header height */
           padding-right: 20px; /* Add some padding to avoid scrollbar overlap */
            }

	   .close {
           color: #aaa;
           float: right;
           font-size: 28px;
           font-weight: bold;
       }
       .close:hover,
       .close:focus {
           color: black;
           text-decoration: none;
           cursor: pointer;
       }
        #modal-category {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: gray;
        }
        #modal-title {
            margin-bottom: 10px;
        }
        #modal-date {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 14px;
            color: gray;
        }
        #modal-howto {
            margin: 0;
            padding: 0;
            font-size: 14px;
            color: gray;
        }

        .footer {
            margin-top: 20px;
            padding: 10px;
            background-color: #f1f1f1;
            text-align: center;
            border-top: 1px solid #ccc;
			color: gray;
			font-size
        }
        
        .pagination {
            text-align: center;
            margin-top: 20px;
        }
        .pagination button {
            margin: 0 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        .page-item {
            cursor: pointer;
            margin: 0 5px;
        }
        .page-item.active {
            font-weight: bold;
        }
		
		.contact-button {
    width:200px;
    height:50px;
	display:inline-block;
	padding:10px 20px;
	/* 버튼의 내부 여백 */
	font-size:16px;
	text-align:center;
	text-decoration:none;
	border:1px solid #3498db;
	/* 테두리 스타일과 색상 */
	border-radius:5px;
	/* 테두리 곡선 */
	background-color:white;
	/* 배경색 */
	color:rgb(42,96,157);
	/* 텍스트 색상 */
	cursor:pointer;
	transition:all 0.3s ease;
	/* 애니메이션 효과 */
	border-color:rgb(42,96,157);
	/* 호버 시 테두리 색상 변경 */
	margin:5px auto;
	justify-content:center;
	/* 가로 가운데 정렬 */
	font-family:'Nanum Gothic';
}
/* 버튼 호버 시 스타일 */
.contact-button:hover {
	background-color:rgb(42,96,157);
	/* 호버 시 배경색 변경 */
	color:white;
}

    .topic {
    font-size: 25pt;
    font-weight: bold;
    border-bottom: transparent;
    border-top: transparent;
    border-left: 2px solid rgb(42,96,157);
    border-right: transparent;
    margin: 10px;
    padding-left: 10px;
    }
	
	/* 버튼 스타일 */
.logging-button {
    width:500px;
    height:70px;
	display:inline-block;
	padding:10px 20px;
	/* 버튼의 내부 여백 */
	font-size:16px;
	text-align:center;
	text-decoration:none;
	border:1px solid #3498db;
	/* 테두리 스타일과 색상 */
	border-radius:5px;
	/* 테두리 곡선 */
	background-color:white;
	/* 배경색 */
	color:black;
	/* 텍스트 색상 */
	cursor:pointer;
	transition:all 0.3s ease;
	/* 애니메이션 효과 */
	border-color:black;
	/* 호버 시 테두리 색상 변경 */
	margin:5px auto;
	justify-content:center;
	/* 가로 가운데 정렬 */
	font-family:'Nanum Gothic';
}
/* 버튼 호버 시 스타일 */
.logging-button:hover {
	background-color:black;
	/* 호버 시 배경색 변경 */
	color:white;
}

.logging-button {
    width:500px;
    height:70px;
	display:inline-block;
	padding:10px 20px;
	/* 버튼의 내부 여백 */
	font-size:16px;
	text-align:center;
	text-decoration:none;
	border:1px solid #3498db;
	/* 테두리 스타일과 색상 */
	border-radius:5px;
	/* 테두리 곡선 */
	background-color:white;
	/* 배경색 */
	color:black;
	/* 텍스트 색상 */
	cursor:pointer;
	transition:all 0.3s ease;
	/* 애니메이션 효과 */
	border-color:black;
	/* 호버 시 테두리 색상 변경 */
	margin:5px auto;
	justify-content:center;
	/* 가로 가운데 정렬 */
	font-family:'Nanum Gothic';
}
/* 버튼 호버 시 스타일 */
.logging-button:hover {
	background-color:black;
	/* 호버 시 배경색 변경 */
	color:white;
}

.link-button {
    width:160px;
    height:40px;
	display:inline-block;
	padding:10px 20px;
	/* 버튼의 내부 여백 */
	font-size:16px;
	text-align:center;
	text-decoration:none;
	border:1px solid #3498db;
	/* 테두리 스타일과 색상 */
	border-radius:5px;
	/* 테두리 곡선 */
	background-color:white;
	/* 배경색 */
	color: #1B365D;
	/* 텍스트 색상 */
	cursor:pointer;
	transition:all 0.3s ease;
	/* 애니메이션 효과 */
	border-color: #1B365D;
	/* 호버 시 테두리 색상 변경 */
	margin:5px auto;
	justify-content:center;
	/* 가로 가운데 정렬 */
	font-family:'Nanum Gothic';
}
/* 버튼 호버 시 스타일 */
.link-button:hover {
	background-color: #1B365D;
	/* 호버 시 배경색 변경 */
	color:white;
	font-weight: bold;
}

a {
  text-decoration-line: none;
}